<style>
body {
    background-color: #32064A;
    color: #FFFFFF;
  }
  hr {
    border: none;
    height: 1px;
    background-color: #32064A; /* Replace with your background color */
  }
</style>
<hr>
<hr>
<hr>
<h1 class="text-xxl">New Class Contact</h1>

<%= render 'form', project: @project %> </th>

<%= link_to 'Back', projects_path, class: "btn btn-warning text-black" %>
